:root {
    --fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dark-blue: rgb(12, 30, 78); 
    --pale-blue: rgb(200, 229, 247);
    --aliceblue: rgb(240, 248, 255);
    --blue-grey: rgb(40, 60, 80);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
    color: var(--dark-blue);
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

/* sets the background colour */
body {
    background-color: var(--aliceblue);
    font-family: var(--fonts);
}

/* positions the header */
header {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    background-color: var(--pale-blue);
}

header .page-title {
    display: flex;
    justify-content: start;
    max-width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    text-align: right;
    padding: 30px;
    margin-right: 20px;
    padding-right: 20px;
}

nav a {
    margin-left: 20px;
    font-family: var(--fonts);
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-blue);
}



.banner {
    background-color: var(--blue-grey);
    padding: 20px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    vertical-align: middle;
    margin-left: 5%;
    margin-bottom: 40px;
    max-width: 100%;
}

.side-panel {
    /* display: block;
    justify-content: start; */
    text-align: right;
    margin-right: 15px;
    padding: 10px;
    width: auto;
    border-right-style: solid;
    border-color: var(--blue-grey);
}

.about-info {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10%;
    flex: content;
    padding: 20px; 
    max-width:80%;
}

.card-section {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 80%;
    max-height: 50%;
}

.card-main {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
    margin-right: 10%;
}

.card-header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--pale-blue);
    color: var(--dark-blue);
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 50%;
    max-height: 50%;
    padding: 5px;
}

.card-main #image-main {
    max-width: 100%;
    max-height: auto;
    border-style: solid;
    border-color: var(--dark-blue);
    opacity: 0.2;
}

.card {
    position: relative;
    width: 225px;
    height: 50px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 20px;
    border-style: solid;
    border-color: var(--dark-blue); 
}

footer {
    display: inline-flex;
    justify-content: start;
}


/* @media screen (min-width: 768px){
    .
} */