:root {
    --fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dark-blue: rgb(12, 30, 78); 
    --pale-blue: rgb(200, 229, 247);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

/* sets the background colour */
body {
    background-color: var(--pale-blue);
    font-family: var(--fonts);
}

/* positions the header */
header {
    display: flex;
    width: 100%;
    background-color: aliceblue;
}

header .page-title {
    display: inline-block;
    max-width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 100px;
}

nav {
    display: inline;
    padding: 30px;
}

nav a {
    text-align: right;
    margin-right: 20px;
    padding-right: 20px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5%;
    margin-bottom: 40px;
}

#side-panel {
    display: inline;
    float: left;
    text-align: right;
    margin-right: 20px; 
}

#about-header {
   color: var(--dark-blue);
}

#work-header {
    color: var(--dark-blue)
}

.about-info {
    display: inline-flex;
    margin-left: 30px;
    flex: content;
    padding: 20px;
    border-left-style: groove;
    border-color: var(--dark-blue);  
}

.card-section {
    display: flex;
    margin-left: 30px;
    flex: content;
    padding: 20px;
    border-left-style: groove;
    border-color: var(--dark-blue); 
}

.card-main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 30px;
    padding: 20px;
    border-style: groove;
    border-color: var(--dark-blue);
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
    padding: 20px;
    border-style: groove;
    border-color: var(--dark-blue); 
}

.card-header {
    
}