:root {
    --fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --dark-blue: rgb(12, 30, 78); 
    --pale-blue: rgb(200, 229, 247);
    --aliceblue: rgb(240, 248, 255);
    --blue-grey: rgb(40, 60, 80);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
    color: var(--dark-blue);
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* sets the background colour */
body {
    background-color: var(--aliceblue);
    font-family: var(--fonts);
}

/* positions the header */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--pale-blue);
}

/* Positions the title at top left of screen */
header .page-title {
    display: flex;
    justify-content: start;
    max-width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    color: var(--dark-blue);
}

/* Positions nav bar in top right of screen */
nav {
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    text-align: right;
    padding: 30px;
    margin-right: 20px;
    padding-right: 20px;
}

/* Sets the positions, font, weight, and colour of nav bar links */
nav a {
    margin-left: 20px;
    font-size: 24px;
    white-space: nowrap;
    font-family: var(--fonts);
    font-weight: bold;
    color: var(--dark-blue);
}

/* Banner for displaying name and avatar */
.banner {
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(96, 122, 196);
    border-style: solid;
    border-color: var(--dark-blue);
}

/* sets positions and size for avatar */
#avatar {
    max-width: 100px;
    max-height: 100px;
    margin-top: 5px;
    border-style: solid;
    border-color: var(--dark-blue);
}

/* displays and positions the writer's name */
.banner-name {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: end;
    position: absolute;
    padding-left: 20px;
}

/* Provides a base template for each section to follow */
.section-base {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 40px;
    max-width: 200%; 
}

/* provides a base template for the side panel of headers */
.side-panel {
    display: flex;
    text-align: right;
    margin-right: 15px;
    padding: 10px;
    border-right-style: solid;
    border-color: var(--blue-grey);
}

/* limits the size of the box the headers can consume. Prevents spilling over */
.section-header {
    width: 100px;
}

/* Positions the about info section on the page */
.about-info {
    display: inline-flex;
    margin-right: 10%;
    flex: content;
    padding: 20px; 
    max-width:70%;
}

/* Provides basic structure to the card elements on the page */
.card-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    flex-wrap: wrap;
    max-width: 80%;
    max-height: 30%;
}

/* Sets dimetions and position of the main card */
.card-main {
    position: relative;
    top: 0px;
    flex: 1;
    max-width: 40%;
    max-height: 100%;
}

/* sets default dimentions, positions, colours of the card headers relative to each card */
.card-header {
    position: absolute;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    background-color: var(--pale-blue);
    color: var(--dark-blue);
    max-width: 70%;
    max-height: 50%;
    padding: 5px;
    border-style: solid;
    border-color: var(--dark-blue);
    border-width: 1px;
}

/* set dimenstions of the main card image to fit within the borders. Sets opacity and transition speed*/
#card-main-image {
    max-width: 200%;
    max-height: 200%;
    border-style: solid;
    border-color: var(--dark-blue);
    opacity: 0.4;
    transition: 0.5s ease;
}

/* Provides basic formatting for sub card section */
.sub-cards {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    max-width: 80%;
    max-height: 100%;
}


/* provides basic formatting for cards */
.card {
    position: relative;
    max-width: 95%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

/* set dimenstions of the lesser card images to fit within the borders. Sets opacity and transition speed */
.card #card-image {
    width: 95%;
    max-height: 100%;
    border-style: solid;
    border-color: var(--dark-blue);
    opacity: 0.4;
    transition: 0.5s ease;
}

/* provides font weights and colours to the footer section */
footer {
    font-family: var(--fonts);
    font-weight: bold;
    color: var(--dark-blue);
}

/* correctly aligns the footer section next to the header stored under the side-panel class */
.section-footer {
    display: inline-flex;
    flex-wrap: wrap;
}

/* provides positioning and formatting for the footer text */
footer p {
    padding: 10px;
    margin-right: 10%;
    white-space: nowrap;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 30px;
    text-decoration: underline;
}

/* Enables the opacity fade on hover over images */
#card-main-image:hover {
    opacity: 1.0;
}

#card-image:hover {
    opacity: 1.0;
}

/* All below modifies text sizes to get smaller at 768px screen size */
@media (max-width: 768px) {
    .page-title {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    nav a {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .banner-name {
        font-size: 26px;
    }
}

@media (max-width: 768px)  {
    .section-header {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .card-header {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    footer p {
        font-size: 20px;
    }
}

